*{
	padding: 0;
	font-family: Arial;
	border: 0;
}
.header{
	width: 100%;
	background-color: #f3971b;
		}
.header2{
	width: 80%;
	padding: 15px;
	text-align: center;
		}
.tdata{
	color: #FFFFFF;
	size: 4px;
	}
.tdata2{
	width: 70%;
	color: #FFFFFF;
	size: 4px;
		}
.t-home{
	width: 100%;
	background-color: #292929;
}
.home{
	padding: 15px;
	width: 80%;
	text-align: center;
}
.t-bot{
	width: 100%;
	background-color: #353535;
}
.bot{
	width: 80%;
	padding: 15px;
	text-align: center;
}
.tdd{
	text-align: center;
	vertical-align: middle;
	height: 350px;
}
#h3{
	color: #ffffff;
	size: 4px;
}
#h1{
	color: #f3971b;
	size: 6px;
}
.tdata-bot{
	width: 35%;
	vertical-align: top;
}
.t-bot2{
	padding: 15px;
	width: 100%;
	text-align: center;
}
.tdbot{
	vertical-align: top;
	text-align: center;
	color: #FFFFFF;
	size: 6px;
}
a{
	color: #ffffff;
	size: 5px;
}