* {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    color: #333;
  }
  
  header {
    height: 70px;
    background-color: #828282;
    
  }

  header h1 {
    display: inline-block;
    float: left;
    padding: 15px 24px;
    text-transform: uppercase;
  }
  header h1 a {
    transition: 0.3s;
  }
  header h1 a:hover {
    color: #f84744;
  }
  header ul {
    float: right;
  }
  header ul li {
    padding: 24px;
    display: inline-block;
  }
  header ul li a {
    transition: 0.3s;
  }
  header ul li a:hover {
    color: #f84744;
  }
  a {
    text-decoration: none;
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .container::after {
    content: "";
    display: block;
    clear: both;
  }
  .size-picture{
    width: 250px;
  
  }
  .banner {
    background-image: url('header.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 150px 0;
  }
  .background {
    background-image: url('coding.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 150px 0;
  }

  
  .btn {
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  .input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .input-field i {
    text-align: center;
    line-height: 55px;
    color: black;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: black;
  }
  
  .input-field input::placeholder {
    color: black;
    font-weight: 500;
  }
  #about p {
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 15px;
  }

  #contact {
    background-color: #808B96 ;
  }
  .html {
    width: 100%;
  }
  .css {
    width: 90%;
  }
  
  .php {
    width: 70%;
  }
  .ps {
    width: 60%;
  }
  .col-4 {
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    text-align: center;
    margin-bottom: 15px;
  }
  footer {
    background-color: #333;
    padding: 50px;
    text-align: center;
  }
  footer small {
    color: #fff;
  }
  html {
    scroll-behavior: smooth;
  }