.main {
    width: 960px;
    margin: 80px auto;
}

.profil {
    border: 1px solid blue; 
    padding: 15px; 
    background-color: lightskyblue; 
    font-size: 30px; 
    color: white; 
    font-family: Arial, Helvetica, sans-serif; 
    top: 0px;
    left: 0px;
    right: 0px;
    height: 55px;
}

.kiri {
    border: 1px solid blue; 
    float: left; 
    width: 600px; 
    background-color: honeydew;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    padding: 1em;
    border-radius: 3px;
}

.foto {
    border: 1px solid blue;
    width: 300px;
    margin-bottom: 20px;
    float: right;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

.foto img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 20%;
    object-fit: cover;
    float: right;
    padding: 10px;
}

.foto p {
    padding-bottom: 5px;
    font-weight: lighter;
    letter-spacing: 1px;
    width: 70%;
}

.foto img {
    margin-right: 30px;
}

.bawah {
    border: 1px solid blue; 
    padding: px; 
    display: inline-block; 
    font-family: Arial, Helvetica, sans-serif; 
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
}

.bawah img {
    padding: 8px;
    overflow: hidden;
    transition: 0.2s;
 }
 
 .bawah img:hover {
     transform: translateY(-10%);
 
 } 

.tombol {
    background: lightblue;
    color: #fff;
    border: 0;
    border-radius: 40px;
    margin: 5px;
    padding: 5px;
    width: 100px;
    overflow: hidden;
    transition: 0.2s; 
    outline: none;
  }

.tombol:hover {
    transform: translateY(-5%);
    width: 115px;
}

.tombol:active {
    background-color: darkblue;
}

label {
    font-size: 10pt;
    color: #555;
}